body {
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 20px;
    line-height: 2;
}


/* ヘッダー */
.header_container {
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    height: 60px; 
    width: 100%;
    background: white;
    color: black;
    border-bottom: 1px solid #d1dce5;
    z-index: 500;
}

.header_img {
    margin-left: 10px;
    margin-top: 10px;
    width: 80px;
}

@media screen and (min-width: 722px) { /* PCサイズ */
    .menubtn { /*スマホサイズのときは非表示 */
        display: none;
    }
    
.nav_container {
    display: inline-block;
    margin-left: auto;
}

    .nav_container ul {
        display: flex;
        list-style: none;
        vertical-align: middle;
    }
    
.nav_container ul li {
    margin-left: 20px;
    margin-right: 20px;
}

.nav_container li a {
    color: black;
    text-decoration: none;
}

}

@media screen and (max-width: 721px) { /* スマホサイズ */
    .menubtn {
        position: fixed;
        z-index: 9999;
        top: 10px;
        right: 10px;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
    
    .nav_container {
        position: fixed;
        z-index: 999;
        top: -120%;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #999;
        transition: all 0.6s;
    }

    .nav_container.panelactive {
        top: 0;
    }

    .nav_container ul {
        padding-left: 0;
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .nav_container li {
        list-style: none;
        text-align: center;
    }

    .nav_container li a {
        color: black;
        text-decoration: none;
        padding: 10px;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: bold;
    }
}

    /* ヘッダー中のメニューボタン */
    .menubtn span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 14px;
        height: 3px;
        border-radius: 2px;
        background-color: #666;
        width: 25px;
    }

    .menubtn span:nth-of-type(1) {
        top:15px; 
    }

    .menubtn span:nth-of-type(2) {
        top:23px;
    }

    .menubtn span:nth-of-type(3) {
        top:31px;
    }

    .menubtn.active span:nth-of-type(1) {
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }

    .menubtn.active span:nth-of-type(2) {
        opacity: 0;
    }

    .menubtn.active span:nth-of-type(3){
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }


/* フッター */
.footer_container {
    display: flex;
    width: 100%;
    margin-top: auto;
    height: 100px;
    background: #404040;
}

.footer_container nav {
    display: flex;
    width: 640px;
    margin: auto;
/*     background: black; */
}

.footer_sns {
    float: left;
    width: 25%;
    height: 60px;
/*     background: blue; */
    text-align: center;
    margin: auto;
    border-right: 2px solid white;
}

.footer_img {
    height: 40px;
    padding: 10px;
}

.footer_content {
    float: right;
    width: 74%;
/*     background: skyblue; */
}

.footer_content ul {
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
/*     margin: auto; */
}

.footer_content ul li {
    font-size: small;
    margin-left: 20px;
    margin-right: 20px;
}

.footer_container a {
    color: white;
    text-decoration: none;
}


/* ページタイトル*/
.page_title {
    font-size: xx-large;
    background-color: #dcdcdc;
}

/* 段落タイトル */
.paragraph_title {
    font-size: x-large;
    border-left: thick solid #dcdcdc;
    border-bottom: thick solid #dcdcdc;
    margin: 10px;
}

/* ミニタイトル */
.mini_title {
    font-size: x-large;
    border-bottom: medium solid #c0c0c0;
    display: inline-block;
    margin: 10px;
}

/* 計算ボタン */
.calcButton {
    font-size: x-large;
    line-height: 30px;
    background-color: #87cefa;
}

/* 結果表示ボックス */
.result_box {
    width: 100%;
    height: 16em;
    background-color: white;
}